
Welcome to Makers BNB
<form action='/signup' method='post'>
  <input type='email' name='email'><br>
  <input type='password' name='password'><br>
  <input type='password' name='password confirmation'><br>
  <input type='text' name='username'><br>
  <input type='submit' value='Submit'>
</form>

<%# <input type="submit" value="login" formaction="/sessions/new"> %>

<%# <button type="submit" formaction="/sessions/new"> login</button> %>
<a href="http://localhost:9292/sessions/new"><button>login</button></a>