<h1> list a space </h1>
<br>
<form action='/spaces/new' method="post">
<input type='text' name='name' placeholder='name' required>
<textarea name='description' rows="10" cols="3" required></textarea>
<input type='number' name='price' placeholder='price' required>
<input type='date' name='start_date' required min="<%= Date.today %>">
<input type='date' name='end_date' required min="<%= Date.today %>">
<input type='submit' value='list my space'>
</form>

